.clearSkyDay {
  background-image: url("../img/clearskydaybackground.jpg");
}

.clearSkyNight {
  background-image: url("../img/clearskynightbackground.jpg");
}

.fewCloudsDay {
  background-image: url("../img/fewcloudsdaybackground.jpg");
}

.fewCloudsNight {
  background-image: url("../img/fewcloudsnightbackground.jpg");
}

.cloudsDay {
  background-image: url("../img/cloudsdaybackground.jpg");
}

.cloudsNight {
  background-image: url("../img/cloudsnightbackground.jpg");
}

.showerRainDay {
  background-image: url("../img/showerraindaybackground.jpg");
}

.showerRainNight {
  background-image: url("../img/showerrainnightbackground.jpg");
}

.rainDay {
  background-image: url("../img/raindaybackground.jpg");
}

.rainNight {
  background-image: url("../img/rainnightbackground.jpg");
}

.thunderstormDay {
  background-image: url("../img/thunderstormdaybackground.jpg");
}

.thunderstormNight {
  background-image: url("../img/thunderstormnightbackground.jpg");
}

.snowDay {
  background-image: url("../img/snowdaybackground.jpg");
}

.snowNight {
  background-image: url("../img/snownightbackground.jpg");
}

.fogDay {
  background-image: url("../img/fogdaybackground.jpg");
}

.fogNight {
  background-image: url("../img/fognightbackground.jpg");
}
